@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f6fa;
  display: grid;
}

.light {
  --primary: #3e5af0;
  --bg-primary: #ffffff;
  --bg-secondary: #f5f6fa;
  --text-primary: #041631;
  --text-secondary: #89939e;
  --warning: #f4bd0e;
  --error: #e53835;
  --success: #2e7d31;
  --info: #09c2de;
  --border-primary: #d9d9d9;
}

.dark {
  --primary: #566df2;
  --bg-primary: #0d0d0d;
  --bg-secondary: #171c23;
  --text-primary: #cee0fb;
  --text-secondary: #526484;
  --warning: #f89b22;
  --error: #eb675e;
  --success: #1ac877;
  --info: #34e4b5;
  --border-primary: #2a2d32;
}
