@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f6fa; 
  display: grid;
}

.light {
  --primary: #3E5AF0;
  --bg-primary: #ffffff;
  --bg-secondary: #f5f6fa;
  --text-primary: #041631;
  --text-secondary: #89939E;
  --warning: #f4bd0e;
  --error: #E53835;
  --success: #2E7D31;
  --info: #09c2de;
  --border-primary: #D9D9D9;
}

.dark {
  --primary: #566DF2;
  --bg-primary: #0d0d0d;
  --bg-secondary: #171c23;
  --text-primary:  #CEE0FB;
  --text-secondary: #526484;
  --warning: #F89B22;
  --error: #EB675E;
  --success: #1AC877;
  --info: #34E4B5;
  --border-primary: #2A2D32;
}